.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(87, 87, 87);
}

.counter {
  background-color: rgb(228, 228, 228);
  columns: black;
  width: 80vw;
  height: 20vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 10px;
}

.counter p {
  font-size: 1.5rem;
}

.counter button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: transparent;
  
}

.list-container {
  background-color: rgb(228, 228, 228);
  width: 80vw;
  height: 20vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.filtered-container {
  background-color: rgb(228, 228, 228);
  height: 30vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
